*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {
	/* scroll-behavior: smooth;
	habilita a rolagem suave para a página inteira */
	width: 100%;
	font-family: 'Poppins', sans-serif !important;
}

/* config scroll header*/
[data-aos^=fade][data-aos^=fade] {
	transition-property: all !important;
}

a:hover {
	text-decoration: none !important;
}

.hero {
	width: 100%;
	position: relative;
	background-color: transparent;
}

.wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}

.overlay {
	position: relative;
	z-index: 1;
}

.section-area {
	padding: 60px 0;
}

.center-title {
	font-family: "Arial", sans-serif;
	font-size: 2.2rem;
	font-weight: 500;
	color: #6ed18f;
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 50px;
	margin: 0;
}

@media (max-width: 767px) {
	.wrapper {
		background-image: none;
		background-color: #fff;
	}

	.center-title {
		font-size: 2rem;
	}
}

@media (max-width: 575px) {
	.center-title {
		font-size: 1.7rem;
	}

	.result-item p {
		font-size: 1rem;
	}
}

/* ====== header ====== */
.header {
	padding: 17.5px 0;
	width: 100%;
	transition: all 0.6s ease-out;
}

nav.header-black {
	background-color: rgb(0, 0, 0);
	padding: 0;
	transition: all 0.6s ease-out;
}

.nav-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-logo {
	display: inline-block;
	margin-right: 1rem;
	font-size: 1.3rem;
	font-weight: 500;
	color: #6ed18f !important;
}

.header-logo img {
	width: 80px;
	height: 45px;
}

.menu-toggle {
	border-color: transparent;
	background-color: transparent;
	padding: 9px 11px;
	display: none;
}

.menu {
	display: flex;
	margin-left: auto;
}

.menu .menu-nav {
	list-style: none;
	display: flex;
	flex-direction: row;
	margin: 0;
}

.menu ul li {
	display: inline-block;
	margin: 20px 10px;
}

.menu ul li a{
	display: inline-block;
	color: #fff;
	text-decoration: none;
	font-size: .9rem;
	font-weight: 700;
	text-transform: uppercase;
	cursor: pointer;
}

.menu-toggle .icon-bar {
	background-color: #fff;
	height: 3px;
	width: 25px;
	display: block;
}

.menu-toggle .icon-bar + .icon-bar {
	margin-top: 4px;
}

.header-icon {
	padding: 10px;
	margin-left: 40px;
	display: flex;
	text-align: right;
}

.header-icon i {
	font-size: 1.3rem;
	color: #fff;
	line-height: 46px;
}

.header-icon i:hover {
	color: #6ed18f;
}

@media (min-width: 768px) {
	.menu ul li a:hover {
		color: #6ed18f;
	}

	.menu ul li a:after {
		content: '';
		display: block;
		width: 0;
		height: 3px;
		background-color: #6ed18f;
		transition: all .5s ease;
	}

	.menu ul li a:hover::after {
		width: 100%;
	}
}

@media(max-width: 767px) {
	.header {
		background-color: #000;
		padding: 0;
		height: 55px;
		display: flex;
		align-items: center;
	}
	
	nav.header-black {
		background-color: #000;
	}

	.nav-header {
		flex-wrap: wrap;
	}

	.menu-toggle {
		position: relative;
		display: block;
		cursor: pointer;
		z-index: 1010;
	}
	
	.menu-toggle span {
		transition: all 0.5s;
	}

	.menu-toggle.times span:nth-child(2) {
		background-color: transparent;
	}
	
	.menu-toggle.times span:nth-child(1) {
		background-color: #6ed18f;
		transform: rotate(45deg);
		transition: all 0.5s;
		transform-origin: 10% 40%;
	}

	.menu-toggle.times span:nth-child(3) {
		background-color: #6ed18f;
		transform: rotate(-45deg);
		transition: all 0.5s;
		transform-origin: 10% 40%;
	}

	.menu {
		display: block;
		position: absolute;
		margin-left: 0;
		background-color: #fff;
		width: 50%;
		height: 100vh;
		top: 0px;
		right: -100%;
		transition: all 0.6s;
	}
	
	.menu.show {
		right: 0;
		top: 0px;
		transition: all 0.6s;
		overflow: auto;
	}
	
	.menu .menu-nav {
		flex-direction: column;
		margin-top: 55px;
		text-align: right;
		padding-right: 20px;
	}
	
	.menu ul li {
		margin: 25px 10px;
	}
	
	.menu ul li a {
		color: #333;
		font-size: 1.1rem;
		font-weight: 900;
		letter-spacing: 1.9px;
	}

	.menu ul li a:hover,
	.menu ul li a:focus {
		color: #333;
	}

	.header-icon {
		display: block;
		margin-top: 20px;
		margin-left: 0;
		padding: 0 20px 0 0;
	}
	
	.header-icon a {
		margin-right: 10px;
	}

	.header-icon a i {
		color: #333;
		line-height: 20px;
	}

	.header-icon a i:hover {
		color: #333;
	}
}

@media (max-width: 576px) {
	.menu {
		width: 100%;
	}
}
/* ====== section home ====== */
.section-main {
	position: relative;
	background-image: url(../images/bg-main.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-color: rgba(0, 0, 0, 0.5);
}

.section-main:after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 0
}

.wrap-home {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 650px;
	z-index: 1;
}

.wrap-content {
	padding: 0 50px;
	z-index: 1;
}

.wrap-content h2 {
	font-family: "Arial", sans-serif;
	font-size: 3.5rem;
	color: #6ed18f;
}

.wrap-content h1 {
	font-family: "Arial", sans-serif;
	font-size: 3.2rem;
	font-weight: 900;
	color: #fff;
	text-transform: uppercase;
}

.wrap-content p {
	font-family: "Arial", sans-serif;
	font-size: 1.5rem;
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: .5px;
	margin-bottom: 140px;
}

.btns {
	margin-bottom: 40px;
}

.btns button {
	font-family: "Arial", sans-serif;
	text-transform: uppercase;
	font-size: .9rem;
	border-radius: 3px;
	padding: 8px 14px;
}

.btns button:first-child {
	color: #6ed18f;
	border: 1px solid #6ed18f;
}

.btn-outline-success:hover {
	color: #fff !important;
	background-color: #6ed18f !important;
}

.btn-outline-success:focus {
	box-shadow: none !important;
}

.btns a .btn-success {
	margin-left: 20px !important;
	background-color: #6ed18f;
	border: 1px solid #6ed18f;
	color: #fff;
}

.btn-success:hover {
	background-color: #41c36c !important;
}

.btn-success:focus {
	background-color: #41c36c !important;
	box-shadow: none !important;
}

.button-down {
	position: relative;
	cursor: pointer;
	width: 25px;
	height: 25px;
	margin-left: 20px;
}

.button-down span {
	display: block;
	width: 25px;
	height: 25px;
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	transform: rotate(45deg);
	margin: -10px;
	animation: animate 2s infinite;
}

.button-down span:nth-child(2) {
	animation-delay: -0.2s;
}

.button-down span:nth-child(3) {
	animation-delay: -0.4s;
}

@keyframes animate {
	0% {
		opacity: 0;
		transform: rotate(45deg) translate(-20px, -20px);
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: rotate(45deg) translate(20px, 20px);
	}
}

@media(max-width: 767px) {
	.hero-image {
		background-image: url(../images/bg.jpg);
		background-size: cover;
		background-position: center;
	}

	.wrap-content {
		padding: 0 25px;
	}

	.wrap-content h2 {
		font-size: 3rem;
	}

	.wrap-content h1 {
		font-size: 2.5rem;
	}

	.wrap-content p {
		font-size: 1.2rem;
		margin-bottom: 1rem;
	}

	.btns {
		margin-bottom: 25px;
	}
}

@media(max-width: 575px) {
	.wrap-home {
		height: 600px;
	}

	.wrap-content h1 {
		font-size: 2rem;
	}

	.wrap-content p {
		font-size: 1rem;
	}

	.btns {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		height: 100px;
	}

	.button-down {
		margin: 0 auto;
	}

	.btns button {
		width: 100%;
		max-width: 350px;
	}

	.btns a .btn-success {
		margin-left: 0 !important;
	}
}

@media(max-width: 450px) {
	.wrap-content {
		padding: 0 5%;
	}

	.wrap-content h2 {
		font-size: 2.5rem;
	}
}

/* ====== section desc ====== */
.wrap-desc {
	position: relative;
	background-color: #6ed18f;
}

.wrap-desc-text {
	padding: 30px 0;
}

.wrap-desc-text h1 {
	font-family: "Arial", sans-serif;
	font-size: 2rem;
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 0px;
}

@media (max-width: 767px) {
	.wrap-desc-text h1 {
		font-size: 1.5rem;
	}
}

@media (max-width: 575px) {
	.wrap-desc-text h1 {
		font-size: 1rem;
	}
}
/* ====== section about ====== */
.wrap-about {
	position: relative;
	background-color: #1b1b1b;
}

.content-about {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.wrap-img-about {
	position: relative;
	width: 50%;
}

.wrap-img-about img {
	width: 100%;
	max-width: 1200px;
	height: auto;
}

.wrap-text-about {
	position: relative;
	width: 50%;
	display: flex;
	align-items: center;
}

.text-about {
	width: 100%;
	max-width: 400px;
	margin-left: 50px;
}

.text-about h5 {
	font-family: "Arial", sans-serif;
	font-size: 1rem;
	font-weight: 700;
	color: #696969;
	text-transform: uppercase;
}

.text-about h2 {
	font-family: "Arial", sans-serif;
	font-size: 2rem;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1.1px;
	margin-bottom: 20px;
}

.text-about p {
	font-family: "Arial", sans-serif;
	font-size: .9rem;
	color: #fff;
	text-align: justify;
}

@media (max-width: 991px) {
	.wrap-text-about {
		padding: 10px 0;
	}

	.text-about {
		margin: 0 5%;
	}

	.text-about h5 {
		font-size: .8rem;
		margin-bottom: 10px;
	}

	.text-about h2 {
		font-size: 1.5rem;
		margin-bottom: 10px;
	}

	.text-about p {
		margin-bottom: 10px;
	}
}

@media (max-width: 767px) {
	.wrap-about {
		flex-direction: column;
	}
	
	.wrap-img-about {
		width: 100%;
	}

	.wrap-text-about {
		width: 100%;
		justify-content: center;
		padding: 30px 0;
	}

	.text-about {
		margin: 0 10%;
	}

	.text-about h5 {
		font-size: .9rem;
	}
}

@media (max-width: 600px) {	
	.text-about {
		margin: 0 5%;
	}
}

/* ====== section result ====== */
.wrap-result {
	position: relative;
	background-color: #282828;
}

.wrap-result h2 {
	font-family: "Arial", sans-serif;
	font-size: 2.2rem;
	font-weight: 500;
	color: #6ed18f;
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 50px;
	margin: 0;
}

.content-result {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-flow: wrap;
	padding: 0 50px;
}

.result-item {
	width: 300px;
	margin-bottom: 30px
}

.result-item img {
	width: 100%;
	display: block;
	border: 1px solid #cfcfcf;
	border-radius: 5px;
}

.result-item p{
	font-family: "Arial", sans-serif;
	font-size: 1.1rem;
	font-style: italic;
	color: #fff;
	text-align: center;
	margin-top: 10px;
}

@media (max-width: 575px) {
	.result-item p {
		font-size: 1rem;
	}
}

/* ====== section price ====== */
.section-price {
	width: 100%;
	height: 100%;
	position: relative;
	background-image: url(../images/bg-price.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.section-price:after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 0
}

.wrap-plan {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-bottom: 40px;
}

.box-plan {
	border: 1px solid #676767;
	width: 400px;

}

.sub-box {
	position: relative;
	text-align: center;
	display: flex;
	flex-direction: column;
	width: 100%;
	border-bottom: 1px solid #3e3e3e;
	padding: 20px;
}

.sub-box h4 {
	font-size: 1.5rem;
	font-weight: 300;
	color: #f5f5f5;
	text-align: center;
	text-transform: uppercase;
}

.box-value {
	position: relative;
	text-align: center;	
}

.box-value span {
	font-size: 4rem;
	color: #f5f5f5;
	font-weight: 400;
}

.box-value span:first-child {
	position: absolute;
	font-size: 1rem;
	top: 25px;
	left: 75px;
}

.box-value-b {
	position: relative;
	text-align: center;	
}

.box-value-b span {
	font-size: 4rem;
	color: #f5f5f5;
	font-weight: 400;
}

.box-value-b span:first-child {
	position: absolute;
	font-size: 1rem;
	top: 25px;
	left: 60px;
}

.box-text {
	font-family: "Arial", sans-serif;
	font-size: .7rem;
	color: #f5f5f5;
	text-transform: uppercase;
	text-align: center;
}

.box-subtext {
	font-family: "Arial", sans-serif;
	font-size: .8rem;
	color: #fff;
	text-align: center;
}

.sub-box button {
	font-family: "Arial", sans-serif;
	font-size: 1.3rem;
	font-weight: 600;
	color: #6ed18f;
	width: 200px;
	text-transform: uppercase;
	text-align: center;
}

.sub-box-footer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 20px;
}

.sub-box-footer p {
	font-family: "Arial", sans-serif;
	font-size: .8rem;
	color: #fff;
	text-align: center;

}

@media (max-width: 991px) {
	.box-plan {
		width: 100%;
		max-width: 320px;
	}

	.box-value span:first-child {
		left: 35px;
	}

	.box-value-b span:first-child {
		left: 20px;
	}
}

@media (max-width: 767px) {
	.wrap-plan {
		flex-direction: column;
	}

	.box-plan {
		max-width: 510px;
		margin-bottom: 30px;
	}

	.box-value span:first-child {
		left: 27%;
	}

	.box-value-b span:first-child {
		left: 24%;
	}
}

@media (max-width: 575px) {
	.box-value {
		display: flex;
		justify-content: center;
	}

	.box-value span {
		font-size: 3.5rem;
	}
	
	.box-value span:first-child {
		position: static;
		margin-top: 22px;
		margin-right: 5px;
	}

	.box-value-b {
		display: flex;
		justify-content: center;
	}

	.box-value-b span {
		font-size: 3.5rem;
	}
	
	.box-value-b span:first-child {
		position: static;
		margin-top: 22px;
		margin-right: 5px;
	}

	.sub-box button {
		width: 100%;
		max-width: 200px;
		font-size: 1rem;
	}
}

/* ====== section contact ====== */
.wrap-contact {
	position: relative;
	background-color: #282828;
}

.box-contact {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	padding: 15px 0 30px 0;
}

.content-contact {
	display: flex;
	flex-direction: column;
}

.content-contact h3 {
	font-size: 1.5rem;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 10px;
}

.contact-whatsapp {
	background-color: #fff;
	max-width: 300px;
	height: 200px;
	border-radius: 5px;
}

.header-whatsapp {
	display: flex;
	flex-direction: row;
	background-color: #25d366;
	border-radius: 5px 5px 0 0;
	height: 40px;
}

.header-whatsapp i {
	margin-left: 15px;
	font-size: 1.7rem;
	background-color: #25d366;
	line-height: 38px;
	color: #fff;
}

.header-whatsapp h4 {
	font-size: .9rem;
	font-weight: 600;
	color: #fff;
	margin-bottom: 0px;
	margin-left: 15px;
	line-height: 40px;
	text-transform: capitalize;
}

.body-whatsapp {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 160px;
}

.body-whatsapp p{
	padding: 15px 20px;
	margin-bottom: 0;
	font-size: .9rem;
	color: #444;
}

.body-whatsapp h3{
	color: #444;
	text-align: center;
	font-weight: 400;
	margin-bottom: 12px;
}

.contact {
	font-family: "Arial", sans-serif;
	display: flex;
	flex-direction: column;
	width: 300px;
}

.contact h3 {
	font-size: 1.5rem;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.contact h4 {
	font-size: .9rem;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.contact p {
	font-size: .8rem;
	font-weight: 400;
	color: #fff;
}

.contact i {
	font-size: 1.3rem;
	color: #fff;
}

.contact i:hover {
	color: #6ed18f;
}

@media (max-width: 575px) {
	.box-contact {
		flex-direction: column;
	}

	.contact {
		width: 100%;
		margin-bottom: 30px;
	}

	.contact h3 {
		font-size: 1.2rem;
	}

	.contact h4 {
		font-size: .7rem;
	}

	.content-contact h3 {
		font-size: 1.2rem;
	}
}


/* ====== section footer ====== */
.footer {
	position: relative;
	background-color: #1b1b1b;
}

.wrap-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 30px;
}

.wrap-footer p {
	font-family: "Arial", sans-serif;
	font-size: 1rem;
	color: #f5f5f5;
	margin-bottom: 10px;
}

.wrap-footer i {
	font-size: 1.3rem;
	color: #fff;
}

.wrap-footer i:hover {
	color: #6ed18f;
}

@media (max-width: 575px) {
	.wrap-footer {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.wrap-footer p {
		font-size: .8rem;
	}
}

/* ====== section whatsapp - svg ====== */
.btn-whats {
	position: fixed;
	display: block;
	text-align: center;
	left: 30px;
	bottom: 30px;
	z-index: 1001;
}

.btn-whats-floating {
	background-color: #4dc247;
	display: block;
	width: 50px;
	height: 50px;
	position: relative;
	text-decoration: none;
	animation: 2s button-svg-whats;
	border-radius: 50%;
	box-shadow: 3px 3px 7px rgba(0,0,0,0.4);
	cursor: pointer;
}

.pulse {
	animation: pulse 2s infinite;
}

@keyframes pulse {
  50%{
    transform: scale(1.1);
  }
}

#box-info {
	position: absolute;
	display: none;
	bottom: 70px;
	left: -10px;
	width: 320px;
	background-color: #fff;
	border-radius: 5px;
	font-family: "Arial", sans-serif;
}

.user-bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #6ed18f;
	height: 55px;
	border-radius: 5px 5px 0 0;
}

.user-img {
	border-radius: 50%;
	margin-left: 25px;
	width: 40px;
	height: 40px;
}

.user-bar h3 {
	font-size: 1.1rem;
	font-weight: 400;
	margin-left: 10px;
	margin-bottom: 0;
	color: #fff;
	line-height: 41px;
}

.user-bar span {
	cursor: pointer;
	color: #fff;
	margin-left: auto;
	margin-right: 25px;
	line-height: 41px;
}

.close-box {
	width: 12px;
	height: 12px;
}

.conversation {
	position: relative;
	background: #efe7dd url(../images/bg-what.jpg);
	height: 130px; 
	border-radius: 0 0 5px 5px;
}

.content-conversation {
	padding: 0 16px;
	height: 100%;
}

.message {
	background-color: #fff;
	border-radius: 0px 5px 5px 5px;
	position: relative;
	margin: 16px 0 8px 0;
	padding: 8px;
	max-width: 85%;
	float: left;
}

.message:after {
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0px 10px 10px 0;
	border-color: transparent #fff transparent transparent;
	top: 0;
	left: -10px;
}

.message p {
	font-size: .9rem;
	text-align: left;
	color: #000;
	margin-bottom: 0;
	line-height: 18px;
}

#box-info .arrow {
	position: absolute;
	width: 1rem;
	height: .5rem;
	display: block;
	margin: 0 .2rem;
}

.arrow {
	left: 23px;
	bottom: calc((.5rem + 1px) * -1);
}

.arrow:before, 
.arrow:after {
	position: absolute;
	display: block;
	content: "";
	border-style: solid;
	border-color: transparent;
	border-width: .5rem .5rem 0;
}

.arrow:before {
	bottom: 0;
    border-top-color: rgba(0, 0, 0, .25);
}

.arrow:after {
	bottom: 1px;
    border-top-color: #efe7dd;
}

@media (max-width: 767px) {
	.btn-whats {
		left: 15px;
		bottom: 40px;
	}

	.btn-whats-floating {
		width: 40px;
		height: 40px;
	}

	#box-info {
		width: 280px;

	}

	.message p {
		line-height: 15px;
	}
}
